<article class="post">
  <header class="post-header">
    <h1 class="post-title"><%= page.title %></h1>
    <% if (page.date) { %>
      <div class="post-meta">
        <time datetime="<%= page.date.toISOString() %>"><%= page.date.format(theme.date_format || 'YYYY.MM.DD') %></time>
      </div>
    <% } %>
  </header>
  <div class="prose">
    <%- page.content %>
  </div>
</article>
